<section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/about.jpg");'>
            <a href={{ about_us.video }} class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>{{ about_us.title }}</h3>
              <p class="fst-italic">
                {{ about_us.desc_body }}
              </p>

              <p>
                {{ about_us.desc_bottom }}
              </p>
            </div>

          </div>

        </div>

      </div>
    </section>