<section id="events" class="events">
      <div class="container">

        <div class="section-title">
          <h2>Організуйте свої <span>Події</span> в нашому ресторані</h2>
        </div>

        <div class="events-slider swiper">
          <div class="swiper-wrapper">
              {% for event in events %}
                  <div class="swiper-slide">
                      <div class="row event-item">
                          <div class="col-lg-6">
                              <img src={{ event.photo }} class="img-fluid" alt="">
                          </div>
                          <div class="col-lg-6 pt-4 pt-lg-0 content">
                              <h3>{{ event.name }}</h3>
                              <div class="price">
                                  <p><span>{{ event.price }}</span></p>
                              </div>
                              <p class="fst-italic">
                                  {{ event.desc }}
                              </p>
                          </div>
                      </div>
                  </div><!-- End testimonial item -->
              {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>