<section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Деякі фотографії з <span>Нашого ресторану</span></h2>
          <p>Для того, щоб ми могли, часом, причепитися, це станеться будь-яким способом,
              але доцільно отримати задоволення та задоволення від життя.</p>
        </div>

        <div class="row g-0">
            {% for photo in gallery_photos %}
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href={{ photo.photo.url }} class="gallery-lightbox">
                            <img src={{ photo.photo.url }} alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

      </div>
    </section>