{% extends 'index.html' %}

{% block site_content %}
    <!-- ======= About Section ======= -->
    {% include 'about.html' %}
    <!-- ======= Whu Us Section ======= -->
    {% include 'why_us.html' %}
    <!-- ======= Menu Section ======= -->
    {% include 'menu.html' %}
    <!-- ======= Specials Section ======= -->
    {% include 'specials.html' %}
    <!-- ======= Events Section ======= -->
    {% include 'events.html' %}
    <!-- ======= Book A Table Section ======= -->
    {% include 'reserve.html' %}
    <!-- ======= Gallery Section ======= -->
    {% include 'gallery.html' %}
    <!-- ======= Chefs Section ======= -->
    {% include 'chefs.html' %}
    <!-- ======= Testimonials Section ======= -->
    {% include 'testimonials.html' %}
    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}
{% endblock %}