<section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Зацініть наші <span>Спеціальні пропозиції</span></h2>
          <p>Для того, щоб ми могли, часом, причепитися, це станеться будь-яким способом,
              але доцільно отримати задоволення та задоволення від життя.</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
                {% for dish in specials %}
                    {% if forloop.first %}
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-{{ dish.pk }}">{{ dish.name }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-{{ dish.pk }}">{{ dish.name }}</a>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
                {% for dish in specials %}
                    {% if forloop.first %}
                        <div class="tab-pane active show" id="tab-{{ dish.pk }}">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>{{ dish.name }}</h3>
                                    <p class="fst-italic">{{ dish.ingredients }}</p>
                                    <p>{{ dish.desc }}</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src={{ dish.photo.url }} alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="tab-pane" id="tab-{{ dish.pk }}">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>{{ dish.name }}</h3>
                                    <p class="fst-italic">{{ dish.ingredients }}</p>
                                    <p>{{ dish.desc }}</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src={{ dish.photo.url }} alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
          </div>
        </div>

      </div>
</section>